body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f7f4f4;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.box {
    background-color: #f4f4f7;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    font-size: 2em;
    color: #3d8ae0;
}

button {
    background-color: #0cfc8c;
    color: #051049;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #08fa00;
}

#surprise {
    margin-top: 20px;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#surprise.visible {
    opacity: 1;
    transform: scale(1);
}

.hidden {
    display: none;
}

.surprise-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
